body {
    font-family: Arial, sans-serif;
    background-image: url('path_to_your_background_image.jpg');
    background-color: #f4f4f4;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white;

}


#bgvideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}

header {
    display: flex;
    flex-direction: column;  /* Stack children vertically */
    align-items: center;     /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    padding: 20px 5%;
    background-color: rgba(255, 255, 255, 0.3);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.email-form {
    width: 300px;
    padding: 20px;
    background-color: white;
    color: black;
    position: absolute;
    right: 10%;
    bottom: 20%;
    border-radius: 10px;
}

.email-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.email-form button {
    padding: 10px 15px;
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
}

.email-form p {
    text-align: center;
}

.travel-form {
    width: 300px;
    padding: 20px;
    background-color: white;
    color: black;
    position: relative;
    border-radius: 10px;
    display: inline-block;
    margin-left: 20px;
}

.travel-form input[type="text"],
.travel-form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.travel-form button.toggle {
    background-color: #ccc;
    margin: 0;
    padding: 5px 10px;
    border-radius: 5px;
}

.travel-form button.toggle.selected {
    background-color: red;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    position: relative;
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.card-overlay h2 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-details > div {
    display: flex;
    align-items: center;
}

.card-icon {
    font-size: 18px;
    margin-right: 10px;
    color: white;
}

.card-info {
    color: white;
}

.card-price {
    text-align: right;
    font-weight: bold;
}

.card-image {
    width: 100%;
    height: 70%;
    object-fit: cover;
    margin-bottom: 10px;
}

.card-text {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

#languageFilter {
    display: block;
    margin-right: 10px;
    width: 250px;
    height: 40px;
    margin: 20px auto;
    padding: 10px;
    background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 100%);
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    appearance: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

#languageFilter:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    outline: none;
}

/* Modal tabs */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 80%;
    overflow: auto;
    transition: max-height 0.3s ease-in-out; 
}

.modal-content.expanded {
    max-height: 90vh; /* Adjusted value to fit more content */
    width: 90%; /* Adjust as per your design requirements */
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}

.tab-button {
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    transition: background 0.3s;
}

.tab-button.active, 
.tab-button:hover {
    background-color: #f4f4f4;
}

.tab-content {
    display: none;    /* Default is hidden */
    padding: 10px 0;
    border-top: 1px solid #eee;
}

#modal-things-to-do {
    display: block;    /* Always displayed, but starts as invisible */
    opacity: 0;        /* Start invisible */
    pointer-events: none; /* Ensure that the invisible content doesn't interfere with user actions */
}

.tab-content.active {
    display: block;
    opacity: 1;    /* Makes content fully visible */
    pointer-events: auto; /* Makes content interactable */
    transition: opacity 1.5s ease-in; /* Gradual ease-in transition effect on opacity when becoming active */
}

#modal-things-to-do.active {
    opacity: 1;    /* Makes the "Things to Do" content visible */
    pointer-events: auto; /* Makes the "Things to Do" content interactable */
}



#clearFilterButton {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px; 
    color: #fff;
    background-color: #007BFF;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: none;  /* initially hidden */
    
}

#clearFilterButton:hover {
    background-color: #0056b3;
}

#clearFilterButton:active {
    background-color: #004085;
}


.expanded-modal-content {
    max-width: 80%;   /* Reduced to 80% from 90% */
    max-height: 70vh; /* Reduced height */
    width: 75%;       /* Reduced width */
}

.expanded-modal .modal-content {
    max-width: 1200px; /* Increase the width when the modal is expanded */
    width: 90%; /* Adjust to take up more of the screen */
    height: 80%; /* Increase the height */
    overflow-y: auto; /* Add vertical scrolling if necessary */
}


/* Photo Grid */
.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* Ensures each column takes up an equal fraction of the container width */
    gap: 2px; 
}


.photo-grid-item {
    position: relative;
    overflow: hidden;
}


.photo-animation:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}

.photo-grid-item img {
    position: relative; /* Position within the grid item */
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%; /* Ensure the image takes up the full height of its container. */
    border-radius: 15px;
    object-fit: cover;
    transition: transform 0.3s;
}




.photo-grid-item:hover img {
    transform: scale(1.05); /* Optional: This will slightly zoom in on the image when it's hovered over. */
}

.photo-grid-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s;
}

.photo-grid-item:hover .overlay {
    opacity: 1;
}

.overlay-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}


.photo-grid-item.clicked .overlay-info {
    opacity: 1;
}



/* Attraction pop-up */
.attraction-popup {
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
    border-radius: 15px;  /* Match with photo border-radius */
    z-index: 10;
}


.attraction-popup-content {
    background-color: #fff;
    color: #000;             /* This will set the text color to black */
    padding: 20px;
    border-radius: 5px;
    max-width: 300px;        /* You can adjust this if you want the pop-up to be wider or narrower */
    margin: auto;            /* This, combined with flexbox on the parent, centers the content */
    position: relative;      /* Allows for the close button to be positioned in the top-right corner */
}

.attraction-popup-content h3 {
    color: #000; /* This will set the h3 text color to black */
}

.attraction-popup.active {
    display: flex; /* Makes the popup visible when active */
}

.close-popup-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.close-popup:hover {
    background: rgba(0, 0, 0, 0.8);
}

#attractionPopup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s forwards;
}

#attractionPopup h2,
#attractionPopup p {
    margin: 10px 0;
}


.details-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 10px;
    margin-top: 10px; /* Add some space between the title and the grid */
    align-items: center; /* Vertically center the content */
}

.details-grid div {
    background: #f9f9f9; /* Light grey background */
    padding: 10px;
    border-radius: 5px; /* Rounded corners */
}

/* Airbnb Search Replica Code Starts Here */
.search-container {
    max-width: 1000px;
    margin: 30px auto;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.search-fields {
    display: flex;
    justify-content: space-between;
    gap: 5px; /* Added a small gap for minimal spacing between search boxes */
}

.search-fields div {
    flex-basis: calc(25% - 5px); /* Distribute the space equally minus the gap */
}

.search-btn {
    background-color: #ff5a5f;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ebebeb;
    border-radius: 20px;
    font-size: 14px;
    box-sizing: border-box; /* Ensure the total width includes padding and borders */
}

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 60px;
    width: 120px;
}

.travel-form button.toggle {
    padding: 5px 10px;
    background-color: #ccc;
    margin: 5px;
    border-radius: 5px;
}

.travel-form button.toggle.selected {
    background-color: red;
}

.europe-button {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* To center the children horizontally */
}


.search-fields input[type="text"],
.search-fields input[type="date"],
.search-fields input[type="number"] {
    width: 80%; /* You can adjust this value to your liking. */
    padding: 14px; /* This adds some space inside the input, making it larger. */
    box-sizing: border-box; /* Ensures that padding and border are included in the element's total width and height. */
}

.search-fields .search-btn {
    margin-left: 5px; /* Adjust this value based on your desired spacing between the last input and the button. */
    padding: 10px 18px; /* This adds some space inside the button, making it larger. */
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 20px; 
    margin-top: 20px; 
}

.toggle, a.toggle {
    width: 110px;  /* setting fixed width for both buttons and anchor tags */
    height: 15px;
    padding: 10px 15px;
    background-color: red;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    text-decoration: none;  /* removing underline for anchor tags */
}

.toggle:hover, a.toggle:hover {
    background-color: darkred;
}

.toggle.surprise-button, a.toggle.surprise-button {
    background-color: blue;
}

.toggle.surprise-button:hover, a.toggle.surprise-button:hover {
    background-color: darkblue;
}

/* Widen the search buttons */
.search-box .search-btn {
    width: 150px; /* Adjust the width to make buttons wider */
}

/* Minimize the space between search buttons */
.search-box .search-btn:not(:last-child) {
    margin-right: 5px; /* Reduce the right margin to minimize space */
}

/* Reduce the vertical space between Airbnb search box and Europe button */
.europe-btn-container {
    margin-top: 2px; /* Reduce the space above the Europe button */
}